body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right , #403F44, #1e1b32);
    font-family: cursive;
    height: 100vh;
    color: white;
}
.main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 25px;
    height: 400px;
    padding:15px;
}
.main-box:hover {
     box-shadow: 0 0 5px #33CCFC;
}
#cookie {
  font-size: 100px;
  padding: 15px;
  border: none;
  border-radius: 50%;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}
.navbar {
    display: flex;
    margin: 0px auto;
    padding: 5px;
    border-radius: 10px;
    background: linear-gradient(to bottom right , #403F44, #1e1b32);
    font-family: cursive;
    width: 600px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    transition: all 0.2s ease;
    height: 40px;
}

.navbar:hover {
    box-shadow: 0 0 5px #33CCFC;
}

nav {
    display: flex;
    justify-content: space-evenly;
    transition: all 0.2s ease;
    width: 100%;
    
}

.navs {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

.navs:hover {
    transform: scale(1.1);
}
a {
    color: white;
    text-decoration: none;
}
.ind:hover {
     box-shadow: 0 0 5px #33CCFC;
}
#ssave {
    background-color: snow;
    color: black;
    border: 2px solid black;
    width: 100px;
    padding:10px;
    border-radius: 10px;
    transition: all 0.3s ease;
}
#ssave:hover {
     box-shadow: 0 0 5px #33CCFC;
}
#selssave:hover {
     box-shadow: 0 0 5px #33CCFC;
}
#selssave {
    background-color: snow;
    color: black;
    border: 2px solid black;
    width: 100px;
    padding:10px;
    border-radius: 10px;
    transition: all 0.3s ease;
}